.welcome {
    display: grid;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

.welcome h2 {
    font-size: 24px;
    color: #000;
}

.welcome a {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.welcome a:hover {
    background-color: #555;
}